


.mainText, .backend_container, .container{
    width: 90%;
    margin: auto;
}
.mainText h1{
    text-align: center;
    margin: 3%;
}
.mainText h2{
    margin-bottom: 7%;
}

.mainText h2 span{
    font-size: 0.7em;
    opacity: 0.8;
    color: rgb(165, 165, 175);
    font-style: italic;
}


.projects .container .inner_container{
    
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 20px;
    overflow: visible;
    
    
}



.projects .inner_container .images a .text:hover{
    opacity: 0.8;
    color: rgb(115, 115, 192);
    
}

.back_end_sorry_text{
    padding-bottom: 5%;
    
    
}
.backend_images_container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.realworld_images_container{
    display: flex;
    justify-content: center;
}
.realworld_images_container .backend_images p{
    padding: 2%;
}
.backend_images{
    width: 25%;
    padding: 2%;
    margin: 20px;
    border: 2px #0a5185 solid;
    background-color: #076db66b;
    border-radius: 5%;
    box-shadow:10px 8px 13px rgb(18, 18, 53);
    margin-bottom: 10%;
}
.backend_images:hover{
    transform: translateY(4px);
}
.backend_images p, .backend_images h2{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 5%;
}
.backend_images p a:hover,.backend_images h2 a:hover{
    color: #f8ca29;
}
.backend_images a{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
.backend_items{
    
    width: 90%;
    height: 9em;
    border-radius: 3%;
    border: 2px solid rgb(62, 66, 94);
    
}


@media only screen and (max-width: 700px){
    .mainText h1{
        text-align: left;
        margin: 20px 0px;
        padding: 10px 0px;
        font-size: 1.2em;
    }
    .mainText h2, .back_end_sorry_text h2, .backend_images h2{
        font-size: 1em;
        padding: 20px 0px;
        margin: 0px;
    }
    .back_end_sorry_text h3{
        font-size: 0.9em;
    }
    .projects .container .inner_container{
        display: flex;
        height: 220px;
        gap: 2px;
        
       
    }
    .container{
        overflow: scroll;
        background-color: #012a5d33;
        border:#07203f7a solid 3px;
        border-radius: 5px;
        padding: 2px;
        
    }
    .projects{
        margin: 0 3%;
    }
    .backend_images{
        min-width: 18rem;
        
    }
   
    .backend_images_container{
        display: flex;
        flex-direction: column;
       
    }
    .realworld_images_container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}